<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBquxY-MlKp8UHgbWafJ7C1Raa_cJZnfL4</string>
	<key>GCM_SENDER_ID</key>
	<string>787945298456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>devcuit.net.LafiyaCare-IOS</string>
	<key>PROJECT_ID</key>
	<string>lafiyacare-c9237</string>
	<key>STORAGE_BUCKET</key>
	<string>lafiyacare-c9237.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787945298456:ios:d04b8e56974fe6fcacc16d</string>
</dict>
</plist>